@config "../tailwind.config.js";
@import 'tailwindcss';

:root {
  --background: #fafbfd;
  --foreground: #1b2026;
  --quill-border: #c7ced9;
  --quill-icon: #5c636e;
}

@layer base {
  :root {
    --radius: 0.5rem;
    --background: 220 40% 99%;
    --foreground: 213 17% 13%;
    --card: 0 0% 100%;
    --card-foreground: 213 17% 13%;
    --popover: 0 0% 100%;
    --popover-foreground: 213 17% 13%;
    --primary: 246 91% 17%;
    --primary-foreground: 220 43% 99%;
    --secondary: 216 38% 97%;
    --secondary-foreground: 218 13% 17%;
    --muted: 220 20% 91%;
    --muted-foreground: 217 9% 40%;
    --accent: 222 100% 98%;
    --accent-foreground: 213 17% 13%;
    --destructive: 0 74% 54%;
    --destructive-foreground: 7 82% 98%;
    --border: 218 19% 88%;
    --input: 219 19% 82%;
    --ring: 228 100% 76%;
    --chart-1: 233 100% 84%;
    --chart-2: 119 39% 68%;
    --chart-3: 196 29% 36%;
    --chart-4: 53 100% 72%;
    --chart-5: 6 76% 72%;
    --sidebar-background: 0 0% 100%;
    --sidebar-foreground: 213 17% 13%;
    --sidebar-primary: 246 91% 17%;
    --sidebar-primary-foreground: 220 43% 99%;
    --sidebar-accent: 222 100% 96%;
    --sidebar-accent-foreground: 235 58% 28%;
    --sidebar-border: 218 19% 98%;
    --sidebar-ring: 228 100% 76%;
    --search-input-background: #ffffff;
    --search-input-border: #c7ced9;
  }

  * {
    border-color: hsl(var(--border));
  }

  html {
    color-scheme: light;
  }

  body {
    background-color: hsl(var(--background));
    color: hsl(var(--foreground));
    margin: 0;
    box-sizing: border-box;
    min-height: 100vh;
    min-height: 100dvh;
  }

  h1,
  h2 {
    color: hsl(var(--foreground));
    font-weight: 500;
  }

  h1 {
    font-size: 56px;
    letter-spacing: -1.68px;
    margin: 32px 0;
  }

  h2 {
    font-size: 24px;
    line-height: 118%;
    letter-spacing: -0.24px;
    margin: 0 0 8px;
  }

  p {
    margin: 0;
  }

  code,
  .counter {
    display: inline-flex;
    border-radius: 4px;
    color: hsl(var(--foreground));
  }

  code {
    font-size: 15px;
    line-height: 135%;
    padding: 4px 8px;
    background: #f4f3ec;
  }
}

@layer utilities {
  .min-h-screen {
    min-height: 100vh;
    min-height: 100dvh;
  }

  .h-screen {
    height: 100vh;
    height: 100dvh;
  }
}

.quill .ql-toolbar.ql-snow {
  border-color: var(--quill-border);
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.quill .ql-container.ql-snow {
  border-color: var(--quill-border);
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}

.ql-editor {
  word-break: break-all;
  white-space: pre-wrap;
}

input[type='time'].no-time-icon::-webkit-calendar-picker-indicator {
  display: none;
  -webkit-appearance: none;
}

.pac-container {
  z-index: 2147483647 !important;
  pointer-events: auto;
}
